.idahomap .header {
  margin-top: 24px;
}

.idahomap .footer {
  margin: 24px 0;
}

.idahomap .btn {
  display: inline-block;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  line-height: 1.428571429;
  padding: 6px 18px;
  background: #00a2de;
  color: #ffffff;
}

.idahomap .btn-primary {}

.idahomap .button {
}
